<!DOCTYPE html>
<html>
<head>
	<title>watermelon</title>
	<link href="../static/css/bootstrap2.css" rel="stylesheet">
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="container">
			<div id="inputbox" class="center">

				<form action="/registrations/new" method="post">
					<div class="form-group">
						<label>Prodct Name:</label>
						<input class="form-control" type="text" name="name">
						<label>Type: </label>
						<select class="form-control" name="type">
							<option>Milk</option>
							<option>Formula</option>
							<option>Candy</option>
							<option>Cereal</option>
							<option>Beverages</option>
						</select>
						<label>Price: </label>
						<input class="form-control" type="text" name="price">
						<label>Details:</label>
						<textarea class="form-control" name="details"></textarea>
					
						<input class="btn btn-primary" type="submit" name="submit" value="Register Product">
						</div>
					</form>

				<form action="/nodes/resolve" method="get">
					<div class="form-group">
						<input class="btn btn-primary" type="submit" value="Check Latest Chain" name="Submit"/>
					</div>
				</form>
				<form action="/mine" method="get">
					<div class="form-group">
						<input class="btn btn-primary" type="submit" value="Register Info to New Block" name="Submit"/>
					</div>
				</form>
				<form action="/chain" method="get">
					<div class="form-group">
						<input class="btn btn-primary" type="submit" value="My Chain" name="Submit"/>
					</div>
				</form>
			</div>
			<div id="msgbox" class="center alert alert-primary" role="alert">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
								<p>{{message}}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
				{% if new_registered %}
					<p>Prodct Name: {{new_registered['product_name']}}</p>
					<p>Brand: {{new_registered['product_type']}}</p>
					<p>Price: {{new_registered['product_price']}}</p>
					<p>Details: {{new_registered['product_details']}}</p>
				{% endif %}
				{% if new_block %}
					<p>Index: {{new_block['index']}}</p>
					<p>Foods: {{new_block['products']}}</p>
					<p>Proof: {{new_block['proof']}}</p>
					<p>Previous Hash: {{new_block['previous_hash']}}</p>
				{% endif %}
				{{res}}
				{% if chain %}
					<p>Chain Length: {{chain['length']}}</p>
					{% for block in chain['chain'] %}
						<p>Index:{{block['index']}}</p>
						<p>Foods: {{block['products']}}</p>
					{% endfor %}
				{% endif %}
				{{res}}
			</div>
		</div>
	</div>
</body>
</html>
